name: Deploy Next.js to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/nextjs-ec2-demo || exit
            
            
            git reset --hard HEAD
            git pull origin main
            
            
            npm install
            
            
            echo "NEXT_PUBLIC_APP_NAME=${{ secrets.APP_ENV }}" > .env.local
            
           
            npm run build
            
           
            pm2 delete nextjs-app || true
            pm2 start npm --name "nextjs-app" -- start -- -p 3000
            
            pm2 save
